@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000 !important;
    scroll-behavior: smooth;
}

::selection{
    color: #131313;
    background: #EDC73E;
}

.yellow-title::selection{
    color: #fff;
    background: #131313;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: .5s;
    z-index: 4;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(5px);
}

.header-wrapper {
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .fa-solid {
    display: none;
}

/* .header-darken {
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
} */

.logo {
    width: 70px;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    color: #fff;
    padding: 20px;
    font-weight: 500;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.menu-item a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EDC73E;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.menu-item a:hover::after {
    width: 50%;
}

.second__marquee {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 60%;
    width: 100vh;
    transform: rotate(90deg) translateX(47%);
    background-color: #EDC73E;
    color: #000;
}

.second__marquee span {
    display: inline-block;
    padding-left: 20px;
    animation: marquee 15s linear infinite;
    font-size: 35px;
    font-weight: 700;  
    animation-delay: -5s;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 0;
    width: 45%;
    background-color: #EDC73E;
    color: #000;
}
  
.marquee span {
    display: inline-block;
    padding-left: 20px;
    animation: marquee 15s linear infinite;
    font-size: 35px;
    font-weight: 700;  
    animation-delay: -5s;
}
  
@keyframes marquee {
    /* from {
      transform: translateX(100%);
    } */
    to {
      transform: translateX(-100%);
    }
}

.chess__collage {
    width: 400px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

.slogan__block {
    position: absolute;
    left: 11%;
    top: 50%;
    transform: translateY(-50%);
}

.slogan__block div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slogan__block p {
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-wrap: wrap;
}

.slogan__block a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 10px;
    width: fit-content;
}


.cover-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background: url('../images/cover-bg.png'); */
    /* background-size: cover;
    background-attachment: fixed;
    background-position: center bottom; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

@media (max-width: 1366px) {
    .marquee, .second__marquee {
      width: 100%;
    }
    
    .second__marquee {
        transform: rotate(15deg);
        bottom: 10%;
        left: -5%;
        width: 120%;
    }

    .marquee {
        top: 20%;
    }
    
    .chess__collage {
        width: 25%;
        right: 10%;
        top: 55%;
    }
  
    .slogan__block {
      margin-top: 20px;
    }
    .slogan__block div {
        width: 80%;
    }
    .slogan__block p {
        font-size: 25px;
    }
}

@media (max-width: 1280px) {
    .slogan__block p {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .slogan__block {
        top: 35%;
    }
    
    .chess__collage {
        width: 45%;
        padding-top: 10px;
    }
}

.prices__block {
    height: 80vh;
}

@media (max-width: 768px){
    .prices__block_container{
        flex-direction: column;
    }
}

.prices__block_container {
    gap: 20px;
    color: #fff;
}

.price__item{
    width: 250px !important;
    height: 250px;
    position: relative;
}

.price__header {
    font-weight: 500; 
    font-size: 20px;
}

.price {
    position: absolute; 
    bottom: 0; 
    right: 30px; 
    font-size: 25px; 
    font-weight: 700;
    color: #EDC73E;
}

.intro-container {
    padding: 0 10%;
}

.intro {
    background-color: rgba(19, 19, 19, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.intro .intro-text {
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
}

.intro .slogan {
    font-size: 18px;
}

.subscribe-dark {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position:relative;
    overflow:hidden;
    background: transparent;
    color: #fff !important;
    border: 1px solid #fff;
}

.subscribe-dark a {
    position: relative;
    color: #fff !important;
    transition: color .3s;
    z-index: 3;
}

.subscribe-dark:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background : #EDC73E;
    left: 0;
    bottom: 0;
    transition: all .3s;
  }
  
  .subscribe-dark:hover:before {
    width: 100%;
  }
  .subscribe-dark:hover {
    color: #000 !important;
    border: 1px solid #000;
  }

.subscribed {
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    background: #EDC73E;
    border: 1px solid #EDC73E; 
}

.subscribe {
    text-align: center;
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    background: transparent;
    border: 1px solid #000;
}

.subscribe a {
    position: relative;
    color: #000 !important;
    transition: color .3s;
    z-index: 3;
}

.subscribe:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background : #000;
    left: 0;
    bottom: 0;
    transition: all .3s;
}

.subscribe:hover:before {
    width: 100%;
}
.subscribe:hover a {
    color: #fff !important;
}

.yellow-title {
    background-color: #EDC73E;
    color: #131313;
    width: fit-content;
    padding: 5px;
    font-size: 40px;
    font-weight: 600;
}


/* --------- about -------- */
.about {
    min-height: 100vh;
    padding: 80px 10%;
}

.vih-img {
    width: 75%;
}

/*  --------- methods ---------- */

.yellow-container {
    /* background: linear-gradient(90deg, 
        rgba(237,199,62,1) 0%, 
        rgba(244,194,1,1) 0%, 
        rgba(237,199,62,1) 30%, 
        rgba(235,201,80,1) 40%, 
        rgba(235,202,84,1) 50%, 
        rgba(235,202,84,1) 60%, 
        rgba(238,198,51,1) 70%, 
        rgba(244,194,1,1) 100%); */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 120px;
    column-gap: 50px;
}

.black-title {
    color: #fff;
    background: #131313;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    font-size: 40px;
    font-weight: 600;
}

.methodsGallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#accordion {
    max-width: 100%;
}

#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: #EDC73E;
    padding: 10px;
    color: #000;
    border-bottom: 1px solid #000;
}

#accordion li:first-child {
    border-top: 1px solid #000;
}

#accordion li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;
}

#accordion li label span {
    font-size: 22px;
    transform: rotate(270deg);
}

#accordion label + input[type='radio'] {
    display: none;
}

#accordion .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

#accordion label + input[type='radio']:checked + .content {
    max-height: 400px;
}

.method {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.methods-container {
    background: #EDC73E;
    color: #000;
    margin: 10px;
}

.methods-container .methods-text {
    padding: 0 5px 30px 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

/* -------- services ----------- */

.services {
    min-height: 100vh;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services .container {
    width: 100%;
}

.services-row {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.services-row-col-1 {
    flex-basis: 45%;
    text-align: end;
}


.services-row-col-1 img {
    width: 55%;
}

.services-row-col-2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.tab-titles {
    display: flex;
}

.tab-link {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EDC73E;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-link.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: #fff;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ------- form block ------- */

.register {
    min-height: 100vh;
    /* background: linear-gradient(90deg, 
        rgba(237,199,62,1) 0%, 
        rgba(244,194,1,1) 0%, 
        rgba(237,199,62,1) 30%, 
        rgba(235,201,80,1) 40%, 
        rgba(235,202,84,1) 50%, 
        rgba(235,202,84,1) 60%, 
        rgba(238,198,51,1) 70%, 
        rgba(244,194,1,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-circle-check {
    right: 2%;
    top: 62%;
}

.register-text {
    font-size: 24px;
    color: #fff;
}

.register-text::selection {
    color: #fff;
    background-color: #131313;
}

.register-form {
    background: #EDC73E;
    height: fit-content;
}

.footer-container {
    padding: 0 10%;
}

a {
    text-decoration: none !important;
}

a i {
    transition: color .5s;
}

a i:hover {
    color: #EDC73E;
}

.register a i:hover {
    color: #fff;
}

.shadowed {
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}
a[href^="tel:"] {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #fff;
  }
/* --------------- small screens ---------------- */


@media only screen and (max-width: 1000px) {
    .register-text{
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {

    .yellow-title, .black-title {
        font-size: 24px;
    }

    /* --------- header & cover ---------*/

    .logo {
        width: 50px;
    }
    nav .fa-solid {
        display: block;
        color: #fff;
        font-size: 40px;
        cursor: pointer;
    }

    nav .menu-list {
        background-color: #EDC73E;
        color: #131313;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;
    }

    nav .menu-list .menu-item {
        padding: 15px 25px;
    }

    nav .menu-list .menu-item a {
        color: #131313;
        font-size: 22px;
        font-weight: 500;
    }
    
    nav .menu-list i { 
        margin: 25px 0 0 25px;
        cursor: pointer;
        display: block;
        font-size: 25px;
        color: #131313;
    }
    
    .intro .intro-text {
        font-size: 30px !important;
    }

    .intro .intro-text span {
        font-size: 25px;
    }

    main {
        width: 100vw;
    }

    .cover-container {
        width: 100%;
        height: 100vh !important;
        /* background: url('../images/cover-bg-phone-copy.jpg'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        zoom: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro {
        width: 100%;
        height: unset;
    }

    .intro .intro-text {
        font-size: 20px;
        line-height: 30px;
    }
    
    .intro .slogan {
        margin-top: 10px;
        font-size: 18px;
    }

    .subscribe {
        margin-top: 20px;
        font-size: 14px;
    }

    .tab-link {
        font-size: 16px;
    }

    .register-text {
        padding: 0 10%;
        font-size: 16px;
    }

    /* ------ about ------- */

    .vih-img {
        width: 100%;
    }

    /* ------ footer ------  */

    .footer-container {
        padding: 0 13%;
    }
} 